.date-container{
    position:relative;
    bottom:100px
}

h1{
    color: white;
    position:relative;
    width:fit-content;
    margin: 0 auto;
    font-weight:normal;
    padding-bottom: 50px;
    font-size: 2rem;
}